@model app.Models.Usuario

@{
    ViewData["Title"] = "Registrarte";
}

<div class="container">

    @if (TempData["CuentaExistente"] != null)
    {
        <div class="alert alert-warning">
            @TempData["CuentaExistente"]
        </div>
    }

    <div class="row justify-content-center align-items-center" style="min-height: 80vh;">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow-sm">
                <div class="card-body p-4">
                    <h4 class="card-title text-center mb-4">Registro</h4>
                    <form asp-action="Register" asp-controller="Auth" method="post" novalidate>
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                        <div class="mb-3">
                            <label asp-for="NombreCompleto" class="form-label"></label>
                            <input asp-for="NombreCompleto" class="form-control" placeholder="Nombre completo" required />
                            <span asp-validation-for="NombreCompleto" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Email" class="form-label"></label>
                            <input asp-for="Email" class="form-control" placeholder="ejemplo@correo.com" required />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Contrasena" class="form-label"></label>
                            <input asp-for="Contrasena" type="password" class="form-control" placeholder="********" required />
                            <span asp-validation-for="Contrasena" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Telefono" class="form-label"></label>
                            <input asp-for="Telefono" class="form-control" placeholder="Numero de Telefono" required />
                            <span asp-validation-for="Telefono" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="FechaNacimiento" class="form-label"></label>
                            <input asp-for="FechaNacimiento" type="date" class="form-control"  required />
                            <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                        </div>

                        <div class="d-grid">
                            <input type="submit" value="Registrarse" class="btn btn-primary" />
                        </div>
                    </form>
                    <div class="text-center mt-3">
                        <a asp-action="login" class="btn btn-link">Iniciar Sesión</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
