@model app.Models.Usuario
@model app.Models.EmailCode

@{
    ViewData["Title"] = "Enviar codigo de recuperacion";
}

<div class="container d-flex justify-content-center align-items-center " style="min-height: 80vh;">
    <div class="col-md-6 col-lg-5">
        <div class="card shadow-sm rounded">
            <div class="card-body p-4">
                <h2 class="text-center mb-4">Enviar codigo</h2>

                @if (TempData["CuentaExistente"] != null)
                {
                    <div class="alert alert-warning">
                        @TempData["CuentaExistente"]
                    </div>
                }

                <form asp-action="GetVerificationCode" asp-controller="Auth" method="post" novalidate>
                    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                    <div class="form-group mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" type="Email" class="form-control" placeholder="Email de recuperacion ejemplo@correo.com" required />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>


                    <div class="form-group mb-3">
                        <input type="text" name="codigo" placeholder="Código de verificación" required />
                    </div>


                    <div class="d-grid gap-2 mb-3">
                        <button type="submit" class="btn btn-primary">Enviar correo de recuperacíon</button>
                    </div>

                    <div class="text-center">
                        <a href="login" class="btn btn-outline-secondary">Logearse</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}