@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Admin Page";
}

<section class="container my-5">

    <div class="d-flex justify-content-center my-4">
        <div class="card shadow border-0" style="max-width: 500px;">
            <div class="card-body text-center">
                <h4 class="card-title mb-2">🎉 ¡Hola @ViewBag.Nombre!</h4>
                <p class="card-text text-muted">Hola Admin!</p>
            </div>
        </div>
    </div>
</section>
